@import "tailwindcss";

/* 
   IMPORT THE ENGINE CSS ARTIFACT
   
   Crucial: You are importing the *built* file from the builds directory,
   NOT the source file from the engine.
   
   Relative Path Logic:
   Current Dir: app/assets/tailwind/
   Target Dir:  app/assets/builds/tailwind/
   
   Path:../builds/tailwind/<engine_name>
*/
@import "../builds/tailwind/tudla_hubstaff";